body {
    background-color: #ccc;
}

h1 {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 54px;
}

h2 {
    font-family: Arial, Helvetica,sans-serif;
    font-size: 48px;
    font-style: italic;
}

h3 {
    font-size: 38px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
    background-color: cyan;
}

p {
    text-indent: 28px;
    font-size: 28px;
    text-align: left;
}

a {
    text-decoration: none;
}

